#Tomcat端口号配置
server:
  port: 8088
#日志级别记录
logging:
  level:
    com.boot: debug
    org.springframework: info
#
spring:
  datasource:
    druid:
      driver-class-name: com.mysql.cj.jdbc.Driver
      url: jdbc:mysql://192.168.137.1:3306/student_admin?characterEncoding=utf8&useSSL=false&serverTimezone=CTT&rewriteBatchedStatements=true
      username: root
      password: root
  resources:
    static-locations: [classpath:/images/]
    #static-locations: [classpath:/images/] 设置静态资源存放的路径
#id自增策略
mybatis-plus:
  global-config:
    db-config:
      id-type: auto
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl  #输出在控制台上   打开mybatis-plus日志
