<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wula.stumanage.mapper.ZcClassMapper">

    <resultMap id="BaseResultMap" type="com.wula.stumanage.pojo.ZcClass">
            <id property="classId" column="class_id" jdbcType="INTEGER"/>
            <result property="className" column="class_name" jdbcType="VARCHAR"/>
            <result property="techNo" column="tech_no" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        class_id,class_name,tech_no,
        create_time,update_time
    </sql>
</mapper>
